body {
    margin: 0;
}

.videoWrapper {

}

.butinput {
    height: 30px;
    box-sizing: border-box;
}

.line {
    margin-bottom: 10px;
    background: #cccccc;
    padding: 5px;
    box-sizing: border-box;
}

.videoContent {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    box-sizing: border-box;
    padding: 20px;
}

.videoContent > div:nth-child(1) {
    flex: 1;
    height: 87vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.videoContent > div:nth-child(2) {
    width: 300px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.videoContent > div:nth-child(2) > div > video {
    margin-bottom: 10px;
}

.videoContent > div video {
    max-width: 100%;
    max-height: 100%;
    /*border: 1px solid #ccc;*/
    background: black;
}

.videoContent p {
    padding: 0;
    margin: 0;
}

.tip {
    padding-top: 10px;
}

.singleLine {
    margin: 0 20px;
    background: #cccccc;
    padding: 20px;
}
